In [16]:
import pandas as pd 





new_raw_df = pd.read_csv('raw_file/drugsComTrain_raw.csv')
new_raw_df=new_raw_df.astype('str').astype(str).apply(lambda x: x.str.lower())

In [17]:
len(new_raw_df['drugName'].unique())

3436

In [18]:
current_main_data = pd.read_csv('current_main_data(changeable)/selected_questions.csv')

In [19]:
len(current_main_data['generic_name'].unique())

1711

In [20]:
current_generic = current_main_data['generic_name'].unique()
new_generic= new_raw_df['drugName'].unique()

In [21]:
current_generic

array(['adalimumab', 'acyclovir + hydrocortisone', 'acyclovir (topical)',
       ..., 'zidovudine', 'zaleplon', 'zafirlukast'], dtype=object)

In [22]:
new_generic

array(['valsartan', 'guanfacine', 'lybrel', ..., 'mavik', 'aldomet',
       'grifulvin v'], dtype=object)

In [23]:

# common generic names list
common_generic = list(set(current_generic) & set(new_generic))

In [21]:
new_raw_df

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,valsartan,left ventricular dysfunction,"""it has no side effect, i take it in combinati...",9,20-may-12,27
1,95260,guanfacine,adhd,"""my son is halfway through his fourth week of ...",8,27-apr-10,192
2,92703,lybrel,birth control,"""i used to take another oral contraceptive, wh...",5,14-dec-09,17
3,138000,ortho evra,birth control,"""this is my first time using any form of birth...",8,3-nov-15,10
4,35696,buprenorphine / naloxone,opiate dependence,"""suboxone has completely turned my life around...",9,27-nov-16,37
...,...,...,...,...,...,...,...
161292,191035,campral,alcohol dependence,"""i wrote my first report in mid-october of 201...",10,31-may-15,125
161293,127085,metoclopramide,nausea/vomiting,"""i was given this in iv before surgey. i immed...",1,1-nov-11,34
161294,187382,orencia,rheumatoid arthritis,"""limited improvement after 4 months, developed...",2,15-mar-14,35
161295,47128,thyroid desiccated,underactive thyroid,"""i&#039;ve been on thyroid medication 49 years...",10,19-sep-15,79
161296,215220,lubiprostone,"constipation, chronic","""i&#039;ve had chronic constipation all my adu...",9,13-dec-14,116

In [24]:
#extract the rows from new df using common_generic
common_generic_df = new_raw_df[new_raw_df['drugName'].isin(common_generic)]
common_generic_df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,valsartan,left ventricular dysfunction,"""it has no side effect, i take it in combinati...",9,20-may-12,27
6,165907,levonorgestrel,emergency contraception,"""he pulled out, but he cummed a bit in me. i t...",1,7-mar-17,5
7,102654,aripiprazole,bipolar disorde,"""abilify changed my life. there is hope. i was...",10,14-mar-15,32
10,29607,topiramate,migraine prevention,"""i have been on this medication almost two wee...",9,1-jan-15,19
15,81890,liraglutide,obesity,"""i have been taking saxenda since july 2016. ...",9,19-jan-17,20

In [27]:
len(common_generic_df['condition'].unique())

514

In [33]:
selected_collum = ['drugName', 'condition', 'rating', 'usefulCount']
new_common_df = common_generic_df[selected_collum]
#rename columns
new_common_df = new_common_df.rename(columns={'drugName': 'generic_name', 'condition': 'cases', 'rating': 'rating', 'usefulCount': 'useful_count'})

In [35]:
new_common_df.to_csv('custom/common_1.csv', index=False)

In [37]:
new_common_df['rating'].max()

'9'

In [40]:
value_counts_series = new_common_df['cases'].value_counts()

In [42]:
value_counts_series.to_json('value_counts_series.json')

In [45]:

# Let's say you want to check the number of rows for the unique value 2:
unique_value = 'erectile dysfunction'
rows_with_unique_value = new_common_df[new_common_df['cases'] == unique_value]

print(rows_with_unique_value)

       generic_name                 cases rating useful_count
1104      tadalafil  erectile dysfunction      9           75
1197     vardenafil  erectile dysfunction      1           41
1398      tadalafil  erectile dysfunction     10           29
1564      tadalafil  erectile dysfunction     10           52
2243       avanafil  erectile dysfunction     10           52
...             ...                   ...    ...          ...
158849   vardenafil  erectile dysfunction     10           89
158934    tadalafil  erectile dysfunction      9           28
159233    tadalafil  erectile dysfunction      9            3
161254    tadalafil  erectile dysfunction     10           20
161282    tadalafil  erectile dysfunction      9           36

[384 rows x 4 columns]

In [48]:
generic_name_list = new_common_df['generic_name'].unique().tolist()

In [46]:
import pandas as pd 

disease_drug_df = pd.read_csv('raw_file/Drug_clean.csv')
disease_drug_df.head()

,Condition,Drug,EaseOfUse,Effective,Form,Indication,Price,Reviews,Satisfaction,Type
0,Acute Bacterial Sinusitis,Amoxicillin,3.852353,3.655882,Capsule,On Label,12.590000,86.294118,3.197647,RX
1,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.470000,3.290000,Liquid (Drink),Off Label,287.370000,43.000000,2.590000,RX
2,Acute Bacterial Sinusitis,Amoxicillin-Pot Clavulanate,3.121429,2.962857,Tablet,On Label,70.608571,267.285714,2.248571,RX
3,Acute Bacterial Sinusitis,Ampicillin,2.000000,3.000000,Capsule,On Label,12.590000,1.000000,1.000000,RX
4,Acute Bacterial Sinusitis,Ampicillin,3.250000,3.000000,Tablet,On Label,125.240000,15.000000,3.000000,RX

In [2]:
len(disease_drug_df['Condition'].unique())

37

In [47]:
len(disease_drug_df['Drug'].unique())

470

In [15]:
disease_drug_df['Satisfaction'].max()

5.0

In [50]:
disease_drug_df=disease_drug_df.astype('str').astype(str).apply(lambda x: x.str.lower())

In [52]:
new_generic_name_list = disease_drug_df['Drug'].unique().tolist()

In [53]:
# common generic names list
common_generic_current = list(set(new_generic_name_list) & set(generic_name_list))

In [55]:
len(common_generic_current)

88